:root {
    --tblr-ptimary: #5a0707;
}
body {
    background-color: #d39090;
}
.page,
.page-wrapper {
    background-color: #d39090;
    min-height: 100vh;
}
.navbar,
.card {
    background-color: #ffffff;
}
.page-container { margin-top: 30px; }
.course-card { margin-bottom: 20px; }
.user-info {
    padding: 20px;
    background: white;
    border-radius: 8px;
}
.btn-primary {
    background-color: #650909;
    border-color: #650909;
    color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #4d0707;
    border-color: #4d0707;
    color: #ffffff;
}