:root {
    --tblr-ptimary: #5a0707;
}
body { background-color: #d58f8f; }
.page-container { margin-top: 30px; }
.course-card { margin-bottom: 20px; }
.user-info {
    padding: 20px;
    background: white;
    border-radius: 8px;
}